#about {
	/* width: 100%;
  border-radius: 5px; */
	background: var(--grey-gradient);
	padding-top: 5rem;
}

#about-text {
	margin: 0 auto 3rem auto;
}

#about-text p {
	margin: auto 0;
}

#about-punch-line {
	margin: 3rem 0;
	font-style: italic;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.8;
	text-align: justify;
	text-justify: inter-word;
}

#card-panel-home {
	margin: 3rem 0 2rem;
	font-family: var(--montserrat);
	text-align: center;
}

#card-panel-connect {
	margin: 0 0 1.5rem;
}

#card-panel-connect .card-title {
	font-family: var(--montserrat);
	font-weight: 500;
}

#card-panel-connect ul.collection {
	margin-top: 0;
	border-radius: 5px;
	border: 1px solid var(--grey);
}

#card-panel-connect ul.collection,
#card-panel-connect ul.collection .collection-item {
	font-size: 1.35rem;
	line-height: 1.2;
}

#card-panel-connect ul i {
	color: var(--yellow);
	background: radial-gradient(circle, var(--anthracite) 0%, var(--grey) 100%);
}

#card-panel-connect ul a {
	color: var(--anthracite);
}

/* ------- Media Queries ------- */
@media screen and (max-width: 500px) {
	#card-panel-connect {
		margin: 0 0 1.5rem;
	}
}

@media screen and (max-width: 400px) {
	#card-panel-home {
		margin: 3rem 1.5rem 1.5rem 1.5rem;
	}
	#about-text p {
		margin: 0 1.5rem 0 1.5rem;
	}
	#card-panel-connect {
		margin: 0 1.5rem 1.5rem 1.5rem;
	}
	#about-punch-line {
		margin: 1.5rem;
		font-size: 1.5rem;
		line-height: 1.5;
	}
}

@media screen and (min-width: 992px) {
	#card-panel-home {
		margin: 3rem 3rem 2rem 0;
	}
	#about-text p {
		margin: auto 3rem auto 0;
	}
	#about-punch-line {
		margin: 3rem 0;
	}
	#card-panel-connect {
		margin: 3rem 0;
	}
}
