body {
  background: #fff;
}

#contact {
  margin-top: 8rem;
}

.contact-heading {
  text-transform: uppercase;
  font-family: var(--montserrat);
  font-size: 3.5rem;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

.contact-heading::after {
  content: '';
  width: 10rem;
  height: 0.5rem;
  background-color: var(--yellow);
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
}

.contact-txt {
  font-size: 2rem;
}

#contact .contact-info {
  font-size: 1.5rem;
  border-left: 2px solid var(--yellow);
}

#contact .contact-info span {
  display: block;
}

.input-field i.active {
  color: var(--turquoise) !important;
}

.input-field input:active + label,
.input-field input:focus + label {
  color: var(--turquoise) !important;
}
.input-field textarea:active + label,
.input-field textarea:focus + label {
  color: var(--turquoise) !important;
}

.input-field input:active,
.input-field input:focus {
  border-bottom: 1px solid var(--turquoise) !important;
  box-shadow: 0 1px 0 0 var(--turquoise) !important;
}
.input-field textarea:active,
.input-field textarea:focus {
  border-bottom: 1px solid var(--turquoise) !important;
  box-shadow: 0 1px 0 0 var(--turquoise) !important;
}

#contact .input-field .btn {
  background-color: var(--turquoise);
  margin: 1rem 0;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

#contact .input-field .btn:hover {
  color: #fff;
  opacity: 0.9;
  transform: scale(0.98);
}

#footer-img {
  width: 100vw;
}

#footer-img img {
  width: 100%;
}

#success-card h4 {
  color: #fff;
}

/* ------- Media Queries ------- */
/* @media screen and (min-height: 900px) {
  #footer-img {
    position: fixed;
    bottom: 0;
    left: 0;
  }
} */