#services .section-paragraph {
  font-size: 1.6rem;
}

.section2 .img-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  min-width: 20rem;
  position: relative;
  margin: 1rem 0;
}

.section2 .img-container img {
  width: 20rem;
  height: 18rem;
  border: 7px solid var(--grey);
  border-radius: 2px;
}

.section2 .img-container .img-test1 {
  position: absolute;
  top: 10%;
  left: 50%;
  /* transform: translateY(50%); */
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

.section2 .img-container .img-test2 {
  position: absolute;
  top: 70%;
  left: 30%;
  /* transform: translateY(50%); */
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.section3 ul.collection {
  margin-top: 0;
}

.section3 ul.collection,
.section3 ul.collection .collection-item {
  background: transparent;
  font-size: 1.35rem;
  line-height: 1.2;
  border: none;
}

.section4 ul.collection.with-header {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.section4 ul.collection.with-header .collection-item {
  font-size: 1.35rem;
  line-height: 1.2;
  padding: 1rem 1.5rem;
}

.section5 ul {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
  padding: 1rem 1.5rem;
}

.section5 ul li {
  list-style-type: disc;
}

.section5 #services-punch-line {
  border-left: 3px solid var(--yellow);
  margin: 2rem 0rem 0rem 2rem;
  padding: 2rem;
  background: var(--grey-gradient);
  border-radius: 5px;
  transition: all 1s;
}

.section5 p#services-punch-line:hover {
  background: linear-gradient(to left, #fff, #9d9fa1);
  color: var(--yellow);
  transform: translatex(5px);
}
