#services .section-paragraph {
  font-size: 1.6rem;
}

.section1 .row.img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1 .img-container img {
  /* position: absolute; */
  width: 20rem;
  height: 18rem;
  border: 7px solid var(--grey);
  border-radius: 2px;
  margin: 0;
}

.section1 .img-container img#img-test1 {
  /* position: absolute; */
  /* top: 10%;
  left: 5%; */
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.section1 .img-container img#img-test2 {
  /* position: absolute; */
  /* top: 80%;
  left: 25%; */
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

.section2 ul.collection {
  margin-top: 0;
}

.section2 ul.collection,
.section2 ul.collection .collection-item {
  background: transparent;
  font-size: 1.35rem;
  line-height: 1.2;
  border: none;
}

.section3 .row {
  margin-bottom: 0;
}

.section3 ul.collection.with-header {
  margin: 2rem 0;
  border-radius: 5px;
  border: 5px groove var(--yellow);
}

.section3 ul.collection.with-header .collection-item {
  font-size: 1.35rem;
  line-height: 1.2;
  padding: 1rem 1.5rem;
}

.section4 ul {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
  padding: 1rem 1.5rem;
}

.section4 ul li {
  list-style-type: disc;
}

.section4 #services-punch-line {
  border-left: 3px solid var(--yellow);
  margin: 2rem 0rem 0rem 2rem;
  padding: 2rem;
  background: var(--grey-gradient);
  border-radius: 5px;
  transition: all 0.2s;
}

.section4 p#services-punch-line:hover {
  background: linear-gradient(to left, #fff, #9d9fa1);
  color: var(--yellow);
  transform: translatex(3px);
}

.section4 #services-punch-line span {
  font-weight: 600;
}

.section4 #coverage-lines {
  color: #fff;
  font-size: 1.5rem;
}

.section4 #coverage-lines .material-icons {
  color: var(--yellow);
}

/* ------- Media Queries ------- */
@media screen and (min-width: 1400px) {
  .section1 .row.img-wrapper {
    flex-direction: row;
    justify-content: flex-end;
  }
  .section1 .section-paragraph {
    margin-right: 3rem;
  }
}