.test p {
  min-height: 150px !important;
}
/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  width: 100%;
  background: #00f;
  padding-bottom: 10px;
}

/* ------- Navbar ------- */
nav a {
  color: white;
}

/* ------- Slider ------- */
.slider {
  /* position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; */
  z-index: -1;
}
.slider .indicators .indicator-item {
  background: grey;
}

.slider .indicators .indicator-item.active {
  background: yellow;
}

.cc1 {
  background-image: url('images/ideal3-backgrounds/construction-lg-25dpi.jpg');
}

.cc2 {
  background-image: url('images/ideal3-backgrounds/stadium-lg-25dpi.jpg');
}

.cc3 {
  background-image: url('images/ideal3-backgrounds/racetrack-lg-25dpi.jpg');
}

.cc4 {
  background-image: url('images/ideal3-backgrounds/concert-lg-300dpi.jpg');
}

.cc1,
.cc2,
.cc3,
.cc4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
